    <div class="content">    
        <% if user_signed_in? %>
            
            <% @posts.where(user_id: current_user.id).each do |p| %>  <!-- Dont know what is better. "where"  -->
                <% if p.image_data? %>
                    <% if p.user_id == current_user.id %>   <!-- or this one  -->
                    <%= link_to (image_tag p.image_url, class: "img-post-feed"), p %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    </div>
    
