@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* .logoGram {
    font-family: 'Fredoka One', cursive;
    font-size: 36px;
}

body{
    width:100vw;
    margin: 0px auto 0px;
    
}

.main-content{
    text-align: center;
    }

.custom-link{
    
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    margin-left: 5px;
}

.collapse:not(.show){
    display: contents;
}

$button-color: #9966CC;

.btn-outline-success{
    background-color: $button-color !important;
    border-color: white;
    color: white !important;
    border-width: 2px;
}

.btn-outline-success:hover{
    

    color: #6699CC !important;
    border-color: $button-color !important;
}

.bg-custom-color{
    background-color: #6699CC !important;
}
 */

.starter-logo{
     font-size: 36px;
     font-family: 'Pacifico', cursive;
}

.main{
     width: 70vw;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
}

.custom-nav{
    border-bottom: 1px solid grey;
}

.custom-nav-links{
    flex-direction: row-reverse;
}

.collapse:not(.show){
    display: contents;
}

.main-content{
    text-align: center;
    display: flex;
}

.info{
    width: 25%;
    border: 1px solid black;
    margin-left: auto;
    
}

.content{
    width: 75%;
    margin: 15px auto;
}

.nav-link{
    font-size: 20px !important;
}

.user-name:hover{
    color: rgba(0, 0, 0, 0.5) !important;
}

.user-name{
    margin-left: 20px;
}


.alert{
    text-align: center;
}

.alert-alert{
    background-color: rgba(204, 23, 23, 0.363) !important;
}

.alert-notice{
    background-color: rgba(147, 224, 140, 0.349) !important;
}

.img-post-feed{
    
    width: 293px;
}

.home-feed-wrapper{
    margin: 5px auto 0px;
    width: 300px;
    height: 300px;
    
    overflow: hidden;
}

.avatar-wrapper{
    margin: 1px auto 0px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
            
}

.avatar{
    width: 60px;
}

.avatar-wrapper-home{
    margin: 5px auto 0px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
            
}

.avatar-home{
    width: 150px;
}

.center{
    margin: auto;
}

