@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* .logoGram {
    font-family: 'Fredoka One', cursive;
    font-size: 36px;
}

body{
    width:100vw;
    margin: 0px auto 0px;
    
}

.main-content{
    text-align: center;
    }

.custom-link{
    
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    margin-left: 5px;
}

.collapse:not(.show){
    display: contents;
}

$button-color: #9966CC;

.btn-outline-success{
    background-color: $button-color !important;
    border-color: white;
    color: white !important;
    border-width: 2px;
}

.btn-outline-success:hover{
    

    color: #6699CC !important;
    border-color: $button-color !important;
}

.bg-custom-color{
    background-color: #6699CC !important;
}
 */

.starter-logo{
     font-size: 36px;
     font-family: 'Pacifico', cursive;
}

.main{
     width: 70vw;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
}

.custom-nav{
    border-bottom: 1px solid grey;
}

.custom-nav-links{
    flex-direction: row-reverse;
}

.collapse:not(.show){
    display: contents;
}

.main-content{
    text-align: center;
}


