@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* .logoGram {
    font-family: 'Fredoka One', cursive;
    font-size: 36px;
}

body{
    width:100vw;
    margin: 0px auto 0px;
    
}

.main-content{
    text-align: center;
    }

.custom-link{
    
    font-size: 20px;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
    margin-left: 5px;
}

.collapse:not(.show){
    display: contents;
}

$button-color: #9966CC;

.btn-outline-success{
    background-color: $button-color !important;
    border-color: white;
    color: white !important;
    border-width: 2px;
}

.btn-outline-success:hover{
    

    color: #6699CC !important;
    border-color: $button-color !important;
}

.bg-custom-color{
    background-color: #6699CC !important;
}
 */

.starter-logo{
     font-size: 36px;
     font-family: 'Pacifico', cursive;
}

html{
    overflow-x: hidden;
    width: 100vw;
}

.main{
     width: 70vw;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     
}

.custom-nav{
    border-bottom: 1px solid grey;
}

.custom-nav-links{
    flex-direction: row-reverse;
}

.collapse:not(.show){
    display: contents;
}

.main-content{
    text-align: center;
    display: flex;
}

.info{
    width: 25%;
    margin-left: auto;
    background-color: rgba(204, 204, 204, 0.3); 
}


.content{
    width: 75%;
    margin: 15px auto;
}

.nav-link{
    font-size: 20px !important;
}

.user-name:hover{
    color: rgba(0, 0, 0, 0.5) !important;
}

.user-name{
    margin-left: 20px;
}


.alert{
    text-align: center;
}

.alert-alert{
    background-color: rgba(204, 23, 23, 0.363) !important;
}

.alert-notice{
    background-color: rgba(43, 158, 32, 0.349) !important;
}

.img-home-post{
    width: 293px;
}

.home-feed-wrapper{
    margin: 5px auto 0px;
    width: 300px;
    height: 300px;
    
    overflow: hidden;
}

.avatar-wrapper{
    margin: 1px auto 0px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    filter: blur(0px);
            
}

.avatar{
    width: 60px;
    filter: blur(0px);
}

.avatar-wrapper-home{
    margin: 5px auto 0px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    filter: blur(0px);
            
}

.avatar-home{
    width: 140px;
    filter: blur(0px);
}

.avatar-wrapper-sub{
    margin: 0px auto;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    filter: blur(0px);
}

.avatar-sub{
    width: 32px;
    filter: blur(0px);
}

.center{
    margin: auto;
}

.font-28{
    font-size: 28px;
}

.font-22{
    font-size: 22px;
}

.w100{
    width: 100% !important;
}

.user-link{
    color: black !important;
    font-weight: bold;
    padding-right: 5px;
}

.user-link:hover{
    text-decoration: none;
}

.new_commentary{
    width: 100% !important;
}

.login-container{
    width: 50%;
    margin: 15px auto;
    
}

.enter-field{
    text-align: center;
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.7);
    width: 70%;
    font-size: 2rem;
}

.enter-field:focus{
    border-bottom: 1px solid rgba(43, 158, 32, 0.349);
}

.text-center{
    justify-content: center;
}

.login-btn{
    width: 40%;
    font-size: 2rem;
    font-weight: bold;
}

.image-enter{
    text-align: center;
    border-bottom: 1px solid rgba(204, 204, 204, 0.7);
    width: 70%;
}

.italic{
    font-style: italic;
    font-size: 1rem;
}

.reset-pass-btn{
    width: 60%;
    font-size: 1rem;
}

.label-center{
    margin: auto 5px auto 0;
}

.text-field{
    line-height: 2rem;
    height: 4rem;
    width: 100%;
}

.apple_pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default; }
.apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
.apple_pagination .disabled {
    color: #aaaaaa; }
.apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.apple_pagination a {
    text-decoration: none;
    color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline; }

.hide{
    display: none !important;
}

.post-show{
    max-width: 640px;
}

.post-comment{
    max-width: 100%;
}

.text-left{
    text-align: left;
}